:root{
    --font-montserrat: 'Montserrat', sans-serif;
    --bg-body: black;
    --bg-sidebar-navigation: #121212;
    --bg-sidebar-hover: white;
    --bg-logo: #121212;
    --text-color: #b3b3b3;
    --bg-library: #121212;
    --bg-playlist: #242424;
    --bg-playlist-text-title: white;
    --bg-playlist-text-subtitle: white;
    --bg-playlist-button: white;
    --bg-playlist-button-color: black;
    --bg-podcast: #242424;
    --bg-podcast-title: white;
    --bg-podcast-subtitle: white;
    --bg-podcast-button: white;
    --bg-podcast-button-color: black;
    --bg-cookies: #b3b3b3;
    --bg-languages-button-border: #878787;
    --bg-languages-button-color: white;
    --bg-header-navigation: #121212;
    --bg-header-hover: white;
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0, 0, 0.7);
    --bg-header-search: #242424;
    --bg-header-search-input: white;
    --bg-header-login: #a7a7a7;
    --bg-header-login-background: white;
    --bg-header-login-color: black;
    --footer-gradient-start: #ae2896;
    --footer-gradient-end: #509bf5;
    --bg-disclaimer-premium-title: white;
    --bg-disclaimer-premium-subtitle: white;
    --bg-disclaimer-premium-button-background: white;
    --bg-disclaimer-premium-button-color: black;
    --bg-playlist-container: #121212;
    --bg-playlist-text: white;
    --bg-playlist-scroll: rgba(145, 123, 123, 0.693);
    --bg-trilho: #b3b3b3;
    --bg-trilho-indicador: black;
    --bg-trilho-indicador-dark: white;
}

.light {
    --bg-body: #d5dadb; 
    --bg-sidebar-navigation: white;
    --bg-sidebar-hover: black;
    --bg-logo: white;
    --text-color: rgb(114, 111, 111);
    --bg-library: white;
    --bg-playlist: #bcbbbb;
    --bg-playlist-text-title: black;
    --bg-playlist-text-subtitle: black;
    --bg-podcast: #bcbbbb;
    --bg-podcast-title: black;
    --bg-podcast-subtitle: black;
    --bg-cookies: black;
    --bg-languages-button-border: #878787;
    --bg-languages-button-color: black;
    --bg-header-navigation: white;
    --bg-header-hover: #b3b3b3;
    --bg-icon: #131313;
    --bg-arrow-color: #bcbbbb;
    --bg-header-search: #bcbbbb;
    --bg-header-search-input: black;
    --bg-header-login: black;
    --bg-header-login-background: #bcbbbb;
    --bg-header-login-color: black;
    --bg-playlist-container: white;
    --bg-playlist-text: black;
    --bg-playlist-scroll: #a0a0a0;
}